body, html, #root {
  width: 100%;
  height: 100%;
}

#App,#vault {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  #landing{
    h1,aside{
      text-align: center;
    }
    .landingNavs{
      display: flex;
      justify-content: center;
    }
  }
  #loadingScreen{
    width: 100%;
    height: 100%;
    background-color: rgba(64, 64, 64, 0.82);
    position: absolute;
    z-index: 5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #header{
    flex-grow: .5;
    flex-shrink: .5;
    flex-basis: 20%;
  }
  #menu{
    flex-grow: .2;
    flex-shrink: .2;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    ul{
      margin-bottom: 0;
    }
  }
  #content{
    flex-grow: 5;
    flex-basis: 70%;
    display: flex;
    #coinListContainer{
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 20%;
      background-color: #ecf0f1;
      display: flex;
      flex-direction: column;
      .listTitle{
        border-bottom: 2px solid black;
        padding-bottom: 15px;
      }
      #coinList{
        overflow-y: scroll;
      }
    }
    #mainContent{
      flex-grow: 7;
      flex-shrink: 7;
      flex-basis: 80%;
      background-color: #2196F3;
      overflow-y: scroll;
      padding: 1%;
    }
  }
  #header {
    display: flex;
    #btcInfo{
      flex-grow: 1;
      background-color: #95a5a6;
    }
    #title{
      flex-grow: 7;
      background-color: #f1c40f;
    }
  }
}
