.s_s_xzc,
.s_s_zec,
.s_s_waves,
.s_s_wtc,
.s_s_vtc,
.s_s_veri,
.s_s_xvg,
.s_s_vet,
.s_s_trx,
.s_s_usdt,
.s_s_pay,
.s_s_sys,
.s_s_sub,
.s_s_strat,
.s_s_storj,
.s_s_steem,
.s_s_snt,
.s_s_sky,
.s_s_sc,
.s_s_san,
.s_s_salt,
.s_s_xrp,
.s_s_rcn,
.s_s_req,
.s_s_rdd,
.s_s_rdn,
.s_s_xrb,
.s_s_qtum,
.s_s_qash,
.s_s_powr,
.s_s_ppt,
.s_s_pivx,
.s_s_omg,
.s_s_nxt,
.s_s_nxs,
.s_s_neo,
.s_s_xem,
.s_s_nav,
.s_s_xmr,
.s_s_mona,
.s_s_mco,
.s_s_mtl,
.s_s_maid,
.s_s_ltc,
.s_s_lsk,
.s_s_knc,
.s_s_kmd,
.s_s_iota,
.s_s_icn,
.s_s_icx,
.s_s_hsr,
.s_s_gxs,
.s_s_gnt,
.s_s_gno,
.s_s_gas,
.s_s_game,
.s_s_fun,
.s_s_fct,
.s_s_ethos,
.s_s_eth,
.s_s_etc,
.s_s_eos,
.s_s_eng,
.s_s_etn,
.s_s_emc2,
.s_s_edg,
.s_s_drgn,
.s_s_dogecoin,
.s_s_digixdao,
.s_s_digibyte,
.s_s_dentacoin,
.s_s_dent,
.s_s_decred,
.s_s_decentraland,
.s_s_dash,
.s_s_cryptonex,
.s_s_civic,
.s_s_chainlink,
.s_s_cardano,
.s_s_bytom,
.s_s_bytecoin-bcn,
.s_s_byteball,
.s_s_bitshares,
.s_s_bitconnect,
.s_s_bitcoindark,
.s_s_bitcoin,
.s_s_bitcoin-gold,
.s_s_bitcoin-cash,
.s_s_bitbay,
.s_s_binance-coin,
.s_s_basic-attention-token,
.s_s_bancor,
.s_s_augur,
.s_s_ark,
.s_s_ardor,
.s_s_aion,
.s_s_aeternity,
.s_s_adx-net,
.s_s_0x,
.s_s_stellar {
  background-image: url('../../../../../../img/coinspage1.png');
  background-repeat: no-repeat;
}

.s_s_xzc {
  background-position: 0 0;
  width: 16px;
  height: 14px;
}

.s_s_zec {
  background-position: 0 -14px;
  width: 16px;
  height: 16px;
}

.s_s_waves {
  background-position: -16px 0;
  width: 16px;
  height: 16px;
}

.s_s_wtc {
  background-position: -32px 0;
  width: 16px;
  height: 16px;
}

.s_s_vtc {
  background-position: 0 -30px;
  width: 16px;
  height: 16px;
}

.s_s_veri {
  background-position: -16px -30px;
  width: 16px;
  height: 16px;
}

.s_s_xvg {
  background-position: -32px -30px;
  width: 16px;
  height: 16px;
}

.s_s_vet {
  background-position: -48px 0;
  width: 16px;
  height: 16px;
}

.s_s_trx {
  background-position: -48px -16px;
  width: 14px;
  height: 16px;
}

.s_s_usdt {
  background-position: 0 -46px;
  width: 16px;
  height: 16px;
}

.s_s_pay {
  background-position: -16px -46px;
  width: 16px;
  height: 16px;
}

.s_s_sys {
  background-position: -48px -32px;
  width: 16px;
  height: 14px;
}

.s_s_sub {
  background-position: -32px -46px;
  width: 16px;
  height: 16px;
}

.s_s_strat {
  background-position: -48px -46px;
  width: 16px;
  height: 16px;
}

.s_s_steem {
  background-position: -64px 0;
  width: 16px;
  height: 16px;
}

.s_s_stat {
  background-position: -64px -16px;
  width: 16px;
  height: 16px;
}

.s_s_sky {
  background-position: -64px -32px;
  width: 16px;
  height: 16px;
}

.s_s_sc {
  background-position: 0 -62px;
  width: 16px;
  height: 16px;
}

.s_s_san {
  background-position: -16px -62px;
  width: 16px;
  height: 16px;
}

.s_s_salt {
  background-position: -32px -62px;
  width: 16px;
  height: 16px;
}

.s_s_xrp {
  background-position: -48px -62px;
  width: 16px;
  height: 16px;
}

.s_s_rcn {
  background-position: -64px -62px;
  width: 16px;
  height: 16px;
}

.s_s_req {
  background-position: -80px 0;
  width: 16px;
  height: 16px;
}

.s_s_rdd {
  background-position: -80px -16px;
  width: 16px;
  height: 16px;
}

.s_s_rdn {
  background-position: -80px -32px;
  width: 16px;
  height: 16px;
}

.s_s_xrb {
  background-position: -80px -48px;
  width: 16px;
  height: 16px;
}

.s_s_qtum {
  background-position: 0 -78px;
  width: 16px;
  height: 16px;
}

.s_s_qash {
  background-position: -16px -78px;
  width: 16px;
  height: 16px;
}

.s_s_powr {
  background-position: -32px -78px;
  width: 16px;
  height: 16px;
}

.s_s_ppt {
  background-position: -48px -78px;
  width: 16px;
  height: 16px;
}

.s_s_pivx {
  background-position: -64px -78px;
  width: 16px;
  height: 16px;
}

.s_s_omg {
  background-position: -80px -78px;
  width: 16px;
  height: 16px;
}

.s_s_nxt {
  background-position: -96px 0;
  width: 16px;
  height: 16px;
}

.s_s_nxs {
  background-position: -96px -16px;
  width: 16px;
  height: 16px;
}

.s_s_neo {
  background-position: -96px -32px;
  width: 16px;
  height: 16px;
}

.s_s_nem {
  background-position: -96px -48px;
  width: 16px;
  height: 16px;
}

.s_s_nav {
  background-position: -96px -64px;
  width: 16px;
  height: 14px;
}

.s_s_xmr {
  background-position: -96px -78px;
  width: 16px;
  height: 16px;
}

.s_s_mona {
  background-position: 0 -94px;
  width: 16px;
  height: 16px;
}

.s_s_mco {
  background-position: -16px -94px;
  width: 16px;
  height: 16px;
}

.s_s_mtl {
  background-position: -32px -94px;
  width: 16px;
  height: 16px;
}

.s_s_maid {
  background-position: -48px -94px;
  width: 16px;
  height: 16px;
}

.s_s_ltc {
  background-position: -64px -94px;
  width: 16px;
  height: 16px;
}

.s_s_lsk {
  background-position: -80px -94px;
  width: 14px;
  height: 16px;
}

.s_s_knc {
  background-position: -94px -94px;
  width: 14px;
  height: 16px;
}

.s_s_kmd {
  background-position: -112px 0;
  width: 16px;
  height: 16px;
}

.s_s_iota {
  background-position: -112px -16px;
  width: 16px;
  height: 16px;
}

.s_s_icn {
  background-position: -112px -32px;
  width: 16px;
  height: 16px;
}

.s_s_icon {
  background-position: -112px -48px;
  width: 16px;
  height: 16px;
}

.s_s_hsr {
  background-position: -112px -64px;
  width: 16px;
  height: 14px;
}

.s_s_gxs {
  background-position: -112px -78px;
  width: 16px;
  height: 16px;
}

.s_s_gnt {
  background-position: -112px -94px;
  width: 12px;
  height: 16px;
}

.s_s_gno {
  background-position: -80px -64px;
  width: 16px;
  height: 12px;
}

.s_s_gas {
  background-position: 0 -110px;
  width: 16px;
  height: 16px;
}

.s_s_game {
  background-position: -16px -110px;
  width: 16px;
  height: 16px;
}

.s_s_fun {
  background-position: -32px -110px;
  width: 16px;
  height: 16px;
}

.s_s_fct {
  background-position: -48px -110px;
  width: 16px;
  height: 16px;
}

.s_s_ethos {
  background-position: -64px -110px;
  width: 16px;
  height: 16px;
}

.s_s_eth {
  background-position: -80px -110px;
  width: 14px;
  height: 16px;
}

.s_s_etc {
  background-position: -94px -110px;
  width: 16px;
  height: 16px;
}

.s_s_eos {
  background-position: -110px -110px;
  width: 16px;
  height: 16px;
}

.s_s_eng {
  background-position: -128px 0;
  width: 16px;
  height: 16px;
}

.s_s_etn {
  background-position: -128px -16px;
  width: 16px;
  height: 16px;
}

.s_s_emc2 {
  background-position: -128px -32px;
  width: 16px;
  height: 16px;
}

.s_s_edg {
  background-position: -128px -48px;
  width: 16px;
  height: 16px;
}

.s_s_drgn {
  background-position: -128px -64px;
  width: 14px;
  height: 16px;
}

.s_s_dogecoin {
  background-position: -128px -80px;
  width: 16px;
  height: 16px;
}

.s_s_digixdao {
  background-position: -128px -96px;
  width: 16px;
  height: 16px;
}

.s_s_digibyte {
  background-position: 0 -126px;
  width: 16px;
  height: 16px;
}

.s_s_dentacoin {
  background-position: -16px -126px;
  width: 16px;
  height: 16px;
}

.s_s_dent {
  background-position: -32px -126px;
  width: 16px;
  height: 16px;
}

.s_s_decred {
  background-position: -48px -126px;
  width: 16px;
  height: 16px;
}

.s_s_decentraland {
  background-position: -64px -126px;
  width: 16px;
  height: 16px;
}

.s_s_dash {
  background-position: -128px -112px;
  width: 16px;
  height: 14px;
}

.s_s_cryptonex {
  background-position: -80px -126px;
  width: 16px;
  height: 16px;
}

.s_s_civic {
  background-position: -96px -126px;
  width: 16px;
  height: 16px;
}

.s_s_chainlink {
  background-position: -112px -126px;
  width: 16px;
  height: 16px;
}

.s_s_cardano {
  background-position: -128px -126px;
  width: 16px;
  height: 16px;
}

.s_s_bytom {
  background-position: -144px 0;
  width: 16px;
  height: 16px;
}

.s_s_bytecoin-bcn {
  background-position: -144px -16px;
  width: 16px;
  height: 16px;
}

.s_s_byteball {
  background-position: -144px -32px;
  width: 16px;
  height: 16px;
}

.s_s_blocknet {
  background-position: -144px -48px;
  width: 16px;
  height: 16px;
}

.s_s_bitshares {
  background-position: -144px -64px;
  width: 16px;
  height: 16px;
}

.s_s_bitconnect {
  background-position: -144px -80px;
  width: 16px;
  height: 16px;
}

.s_s_bitcoindark {
  background-position: -144px -96px;
  width: 16px;
  height: 16px;
}

.s_s_bitcoin {
  background-position: -144px -112px;
  width: 16px;
  height: 16px;
}

.s_s_bitcoin-gold {
  background-position: 0 -142px;
  width: 16px;
  height: 16px;
}

.s_s_bitcoin-cash {
  background-position: -16px -142px;
  width: 16px;
  height: 16px;
}

.s_s_bitbay {
  background-position: -32px -142px;
  width: 16px;
  height: 16px;
}

.s_s_binance-coin {
  background-position: -48px -142px;
  width: 16px;
  height: 16px;
}

.s_s_basic-attention-token {
  background-position: -64px -142px;
  width: 16px;
  height: 16px;
}

.s_s_bancor {
  background-position: -80px -142px;
  width: 16px;
  height: 16px;
}

.s_s_augur {
  background-position: -96px -142px;
  width: 16px;
  height: 16px;
}

.s_s_ark {
  background-position: -112px -142px;
  width: 16px;
  height: 15px;
}

.s_s_ardor {
  background-position: -160px 0;
  width: 16px;
  height: 16px;
}

.s_s_aion {
  background-position: -160px -16px;
  width: 16px;
  height: 16px;
}

.s_s_aeternity {
  background-position: -160px -32px;
  width: 16px;
  height: 12px;
}

.s_s_adx-net {
  background-position: -160px -44px;
  width: 10px;
  height: 16px;
}

.s_s_0x {
  background-position: -160px -60px;
  width: 16px;
  height: 16px;
}

.s_s_stellar {
  background-position: -160px -76px;
  width: 15px;
  height: 15px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
  .s_s_zcoin,
  .s_s_zcash,
  .s_s_waves,
  .s_s_walton,
  .s_s_vertcoin,
  .s_s_veritaseum,
  .s_s_verge,
  .s_s_vechain,
  .s_s_tron,
  .s_s_tether,
  .s_s_tenx,
  .s_s_syscoin,
  .s_s_substratum,
  .s_s_stratis,
  .s_s_storj,
  .s_s_steem,
  .s_s_status,
  .s_s_skycoin,
  .s_s_siacoin,
  .s_s_santiment,
  .s_s_salt,
  .s_s_ripple,
  .s_s_ripio-credit-network,
  .s_s_request-network,
  .s_s_reddcoin,
  .s_s_raiden-network-token,
  .s_s_raiblocks,
  .s_s_qtum,
  .s_s_qash,
  .s_s_power-ledger,
  .s_s_populous,
  .s_s_pivx,
  .s_s_omisego,
  .s_s_nxt,
  .s_s_nexus,
  .s_s_neo,
  .s_s_nem,
  .s_s_nav,
  .s_s_xmr,
  .s_s_mona,
  .s_s_mco,
  .s_s_mtl,
  .s_s_maid,
  .s_s_ltc,
  .s_s_lsk,
  .s_s_knc,
  .s_s_kmd,
  .s_s_iota,
  .s_s_icn,
  .s_s_icon,
  .s_s_hsr,
  .s_s_gxs,
  .s_s_gnt,
  .s_s_gno,
  .s_s_gas,
  .s_s_game,
  .s_s_fun,
  .s_s_fct,
  .s_s_ethos,
  .s_s_eth,
  .s_s_etc,
  .s_s_eos,
  .s_s_eng,
  .s_s_etn,
  .s_s_emc2,
  .s_s_edg,
  .s_s_drgn,
  .s_s_dogecoin,
  .s_s_digixdao,
  .s_s_digibyte,
  .s_s_dentacoin,
  .s_s_dent,
  .s_s_decred,
  .s_s_decentraland,
  .s_s_dash,
  .s_s_cryptonex,
  .s_s_civic,
  .s_s_chainlink,
  .s_s_cardano,
  .s_s_bytom,
  .s_s_bytecoin-bcn,
  .s_s_byteball,
  .s_s_bitshares,
  .s_s_bitconnect,
  .s_s_bitcoindark,
  .s_s_bitcoin,
  .s_s_bitcoin-gold,
  .s_s_bitcoin-cash,
  .s_s_bitbay,
  .s_s_binance-coin,
  .s_s_basic-attention-token,
  .s_s_bancor,
  .s_s_augur,
  .s_s_ark,
  .s_s_ardor,
  .s_s_aion,
  .s_s_aeternity,
  .s_s_adx-net,
  .s_s_0x,
  .s_s_stellar {
    background-image: url('../../../../../../img/coinspage1.png');
    -webkit-background-size: 174px 158px;
    -moz-background-size: 174px 158px;
    background-size: 174px 158px;
  }
}
