#coinInfo{
  background-color: #cccccc;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header{
    background-color: #f1c40f;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
    display: flex;
    .coinIcon{
      flex-grow: 2;
      flex-shrink: 2;
      flex-basis: 20%;
    }
    .cointitle{
      flex-grow: 6;
      flex-shrink: 6;
      flex-basis: 80%;
    }
  }
  .contentArea{
    background-color: antiquewhite;
    flex-grow: 4;
    flex-shrink: 4;
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    .factbar{
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 10%;
      display: flex;
      .barItem{
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
    .bottomHalf{
      flex-grow: 5;
      flex-shrink: 5;
      flex-basis: 90%;
      display: flex;
      .buySellTable{
        flex-grow: 5;
        flex-shrink: 5;
        flex-basis: 80%;
        overflow-y: scroll;
      }
      .unknown{
        flex-grow: 2;
        flex-shrink: 2;
        flex-basis: 20%;
        overflow-y: scroll;
        word-wrap: break-word;
      }
      background-color: aqua;
    }
  }
}